# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor swap / temp files
*.swp
*.swo
*.tmp
*.bak
*.orig
# Keep these JSON files (they're part of configs you want to track)
!lazy-lock.json
!package.json
!tsconfig.json
!*.config.json

# Ignore all other JSON
*.json

# Ignore logs
*.log

# Ignore compiled files
*.pyc
*.class

bin/

# Ignore zsh / bash history
*.history

# Ignore eza-themes folder
.config/eza/eza-themes/
.config/nvim
.config/nvim/.git
.config/noctalia/plugins/
